# =========================
# Build & binaires
# =========================
bin/
obj/

# =========================
# IDE & fichiers locaux
# =========================
.vs/
*.user
*.suo
*.vsidx

# =========================
# Fichiers divers
# =========================
*.log
*.tmp

# =========================
# Publication
# =========================
/publish/
/wwwroot/
